#pet_shop_name {
  font-family: helvetica;
}

#pet_shop_name_subheader {
  font-family: helvetica;
  font-style: italic;
}

#content {
  width: 50%;
  margin: auto;
}

#training_header {
  font-family: helvetica;
}

#instructions {
  font-family: helvetica;
}

#image_holder {
  max-width:700px;
  max-height:500px;
  width: auto;
  height: auto;
}

#buttons {
  margin: 25px;
}

button {
  margin: 10px;
}

#like_button {
  color: green;
}

#dislike_button {
  color: red;
}
